In [1]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\sarmen\appdata\roaming\python\python37\site-packages (0.90)
Requirement already satisfied: numpy in c:\users\sarmen\.conda\envs\u4-s1-m1\lib\site-packages (from xgboost) (1.17.3)
Requirement already satisfied: scipy in c:\users\sarmen\.conda\envs\u4-s1-m1\lib\site-packages (from xgboost) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
from scipy import stats

In [3]:
# from xgboost import XGBClassifier as XGBoost

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
from sklearn.ensemble import RandomForestClassifier

In [6]:
from sklearn.pipeline import make_pipeline

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
# import eli5
# from eli5.sklearn import PermutationImportance

In [9]:
import time

In [10]:
from collections import Counter

In [11]:
import squarify
import matplotlib.pyplot as plt

# DATA WRANGLING PORTION

In [12]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [13]:
# columns= ['id','neighbourhood_group_cleansed','property_type','room_type','price',
#           'minimum_nights','bathrooms','bedrooms','beds','bed_type','guests_included',
#           'accommodates','amenities','security_deposit','cleaning_fee','extra_people',
#           'instant_bookable','is_business_travel_ready','cancellation_policy']

# NUMERIC ONLY
columns= ['price', 'instant_bookable',
          'minimum_nights','bathrooms','bedrooms','beds','guests_included',
          'accommodates','security_deposit','cleaning_fee']

In [14]:
# df = pd.read_csv(r'E:\Desktop\Lambda_School\Group Projects\Unit 4 Sprint 4 Build Week AirBnB\calendar_summar.csv')
#                  usecols=columns)

In [15]:
df = pd.read_csv(r'E:\Desktop\Lambda_School\Group Projects\Unit 4 Sprint 4 Build Week AirBnB\listings_summary.csv',
                 usecols=columns)

In [16]:
# df_unfiltered = pd.read_csv(r'E:\Desktop\Lambda_School\Group Projects\Unit 4 Sprint 4 Build Week AirBnB\listings_summary.csv')

In [17]:
# df_unfiltered.columns.to_list()

In [18]:
# df['neighbourhood_group_cleansed'].value_counts()

In [19]:
# df['property_type'].value_counts()

In [20]:
df.head()

   accommodates  bathrooms  bedrooms  beds   price security_deposit cleaning_fee  guests_included  minimum_nights instant_bookable
0             3        1.0       1.0   2.0  $60.00          $200.00       $30.00                1               4                f
1             2        1.0       1.0   1.0  $17.00            $0.00        $0.00                1               2                f
2             4        1.0       1.0   2.0  $90.00          $200.00       $50.00                2              62                t
3             2        1.0       1.0   1.0  $26.00          $250.00       $30.00                1               5                f
4             2        1.0       1.0   2.0  $42.00            $0.00        $0.00                1               2                f

In [21]:
# df['room_type'].value_counts()

In [22]:
df.describe()

       accommodates     bathrooms      bedrooms          beds  guests_included  minimum_nights
count  22552.000000  22520.000000  22534.000000  22512.000000     22552.000000    22552.000000
mean       2.637460      1.092695      1.161134      1.620558         1.332121        7.157059
std        1.510548      0.329894      0.646156      1.174840         0.835034       40.665073
min        1.000000      0.000000      0.000000      0.000000         1.000000        1.000000
25%        2.000000      1.000000      1.000000      1.000000         1.000000        2.000000
50%        2.000000      1.000000      1.000000      1.000000         1.000000        2.000000
75%        3.000000      1.000000      1.000000      2.000000         1.000000        4.000000
max       16.000000      8.500000     12.000000     22.000000        16.000000     5000.000000

In [23]:
# df['bedrooms'].value_counts()

In [24]:
# df = df[df['bedrooms'] <= 5]

In [25]:
# df['bathrooms'].value_counts()

In [26]:
# df = df[(df['bathrooms'] != 0) & (df['bathrooms'] <= 3)]

In [27]:
# df['guests_included'].value_counts()

In [28]:
# df = df[df['guests_included'] <= 8]

In [29]:
# df['accommodates'].value_counts()

In [30]:
# df = df[df['accommodates'] <= 10]

In [31]:
# df['beds'].value_counts()

In [32]:
# df = df[df['beds'] <= 6]

In [33]:
len(df)

22552

In [34]:
df['price'] = df['price'].str.replace('$','')
df['price'] = df['price'].str.replace(',','')
df['price'] = df['price'].str.replace('.00','')

In [35]:
df['security_deposit'] = df['security_deposit'].str.replace('$','')
df['security_deposit'] = df['security_deposit'].str.replace(',','')
df['security_deposit'] = df['security_deposit'].str.replace('.00','')

In [36]:
df['cleaning_fee'] = df['cleaning_fee'].str.replace('$','')
df['cleaning_fee'] = df['cleaning_fee'].str.replace(',','')
df['cleaning_fee'] = df['cleaning_fee'].str.replace('.00','')

In [37]:
# df['extra_people'] = df['extra_people'].str.replace('$','')
# df['extra_people'] = df['extra_people'].str.replace(',','')
# df['extra_people'] = df['extra_people'].str.replace('.00','')

In [38]:
df = df[df['minimum_nights'] <= 7]

In [39]:
len(df)

20092

In [40]:
df['price'] = pd.to_numeric(df['price'])
df['security_deposit'] = pd.to_numeric(df['security_deposit'])
df['cleaning_fee'] = pd.to_numeric(df['cleaning_fee'])
# df['extra_people'] = pd.to_numeric(df['extra_people'])

In [41]:
# Dropping rows where price is NaN
df = df.dropna(subset=['price','bathrooms','bedrooms','beds'])

In [42]:
df = df[df['price'] != np.NaN]

In [43]:
df['instant_bookable']= df['instant_bookable'].replace({'f': 0, 't': 1})

In [44]:
# df['is_business_travel_ready']= df['is_business_travel_ready'].replace({'f': 0, 't': 1})

### REMOVING FEATURES

In [45]:
df['security_deposit'] = df[df['security_deposit'] !=0]

In [46]:
df['cleaning_fee'] = df[df['cleaning_fee'] !=0]

In [47]:
len(df)

19529

In [48]:
df = df.dropna(axis=0)

In [49]:
df.isna().sum()

accommodates        0
bathrooms           0
bedrooms            0
beds                0
price               0
security_deposit    0
cleaning_fee        0
guests_included     0
minimum_nights      0
instant_bookable    0
dtype: int64

In [50]:
df = df[df['price'] <= 300]

In [51]:
len(df)

13936

In [52]:
df.isna().sum()

accommodates        0
bathrooms           0
bedrooms            0
beds                0
price               0
security_deposit    0
cleaning_fee        0
guests_included     0
minimum_nights      0
instant_bookable    0
dtype: int64

In [53]:
df.dtypes

accommodates          int64
bathrooms           float64
bedrooms            float64
beds                float64
price               float64
security_deposit    float64
cleaning_fee        float64
guests_included       int64
minimum_nights        int64
instant_bookable      int64
dtype: object

In [54]:
# df = df.select_dtypes(exclude=['object'])

In [55]:
# df_unfiltered.describe()

In [56]:
df['security_deposit'] = df['security_deposit'].replace(to_replace=np.NaN, value=0)
df['cleaning_fee'] = df['cleaning_fee'].replace(to_replace=np.NaN, value=0)
# df['extra_people'] = df['extra_people'].replace(to_replace=np.NaN, value=0)

In [57]:
target = 'price'
X = df.drop(columns=target)
y = df[target]

In [58]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [59]:
X_train.head()

       accommodates  bathrooms  bedrooms  beds  security_deposit  cleaning_fee  guests_included  minimum_nights  instant_bookable
18301             2        1.0       0.0   1.0               2.0           2.0                1               2                 0
7617              1        1.5       1.0   1.0               1.0           1.0                1               4                 0
7022              2        1.0       1.0   1.0               2.0           2.0                1               1                 1
14322             2        1.0       1.0   1.0               2.0           2.0                1               4                 0
21962             2        1.0       1.0   2.0               2.0           2.0                1               2                 1

In [60]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((9337, 9), (9337,), (4599, 9), (4599,))

In [61]:
X_train.columns

Index(['accommodates', 'bathrooms', 'bedrooms', 'beds', 'security_deposit', 'cleaning_fee', 'guests_included', 'minimum_nights', 'instant_bookable'], dtype='object')

In [62]:
%%time
pipeline = make_pipeline(
    ce.OrdinalEncoder()
    StandardScaler(),
    RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1)
)

pipeline.fit(X_train, y_train)
print('Validation Accuracy', pipeline.score(X_test, y_test))

SyntaxError: invalid syntax (<unknown>, line 3)

In [ ]:
%%time
model = RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1)
model.fit(X_train, y_train)

In [ ]:
%%time
permuter = PermutationImportance(
    model, scoring='accuracy', n_iter=2, random_state=42
)

In [ ]:
%%time
permuter.fit(X_test, y_test)
feature_names = X_test.columns.tolist()
eli5.show_weights(
    permuter,
    top=None,
    feature_names = feature_names
)

In [ ]:
%%time
1+1

# NLP PORTION

In [ ]:
pip install spacy

In [ ]:
import spacy

from spacy.tokenizer import Tokenizer

In [ ]:
%%time
nlp = spacy.load("en_core_web_lg")

In [ ]:
%%time
# Tokenizer
tokenizer = Tokenizer(nlp.vocab)

In [ ]:
df.head()

In [ ]:
df['amenities'].iloc[0]

In [ ]:
%%time
# Tokenizer
tokenizer = Tokenizer(nlp.vocab)

In [ ]:
STOPS = ['}','{','"',"'"]

In [ ]:
%%time
cool1 = []
for doc in tokenizer.pipe(df['amenities'], batch_size=1000):
    cool = []
    for a in df['amenities']:
        if a not in STOPS:
            cool.extend(a)
    cool1.append(cool)

In [ ]:
cool1[0]

In [ ]:
# STOP_WORDS = nlp.Defaults.stop_words.union(['', ' ','  ','   ','    ','     ','      ', '-',
#                                             'The', 'the', ' the', 'the ','be', 'like','"','{',
#                                             '}',';','', 'i', 'I', 'be','and','"',' "','" ',',"','",',
#                                             '",',',"','","'])

In [ ]:
%%time
# Wrap it all in a function
def get_lemmas(text):

    lemmas = []
    
    doc = nlp(text)
    
    # Something goes here :P
    for token in doc: 
        if token.text not in STOP_WORDS:
            if ((token.is_stop == False) and (token.is_punct == False)) and ((token not in STOP_WORDS) and (token.pos_!= 'PRON')):
                lemmas.append(token.lemma_)
    
    return lemmas

In [ ]:
tokens = []

In [ ]:
import re

In [ ]:
%%time
for doc in tokenizer.pipe(df['amenities'], batch_size=1000):
    
    doc_tokens = []
    
    for token in doc: 
        if token.text not in STOP_WORDS:
#             doc_tokens_text = re.sub(r'[^a-zA-Z ^0-9]', '', token.text)
            doc_tokens_text1 = token.text.replace('{','')
            doc_tokens_text2 = doc_tokens_text1.replace('}','')
            doct_tokens_text3 = doc_tokens_text2.replace('"','')
            doc_tokens.append(doc_tokens_text1)
    tokens.append(doc_tokens)
    
df['tokens'] = tokens

In [ ]:
doc_tokens

In [ ]:
tokens[0]

In [ ]:
tokens.value_counts()

In [ ]:
df.head()

In [ ]:
chokens = []

for a in df['tokens']:
    chokens.append(a)

In [ ]:
rokens =[]

for a in df['tokens']:
    rokens.extend(a)

In [ ]:
rokens[0]

In [ ]:
chokens[0]

In [ ]:
def removal(df):
    df = df.copy()
    df['tokens'] = df['tokens'].str.replace('a', '')
#     df['tokens'] = df['tokens'].str.replace('\"', '')
#     df['text'] = df['text'].str.replace('b"', '')
#     df['text'] = df['text'].str.replace("b'", '')
    
#     # REMOVE NON-ALPHANUMERIC CHARACTERS
#     df = df.applymap(lambda text: BeautifulSoup(text, 'html.parser').get_text())
#     df['text'] = df['text'].str.replace(r'[^a-zA-Z ^0-9]', ' ')
#     df['text'] = df['text'].str.replace(' n', ' ')
#     df['text'] = df['text'].str.replace('xe2', ' ')
#     df['text'] = df['text'].str.replace('x80', ' ')
#     df['text'] = df['text'].str.replace('x93', ' ')
#     df['text'] = df['text'].str.replace('x9', ' ')
    
    return df

removal(df)

In [ ]:
df.isna().sum()

In [ ]:
df['amenities'].head()

In [ ]:
df['tokens'].head()

In [ ]:
%%time
df['lemmas'] = df['amenities'].apply(get_lemmas)

In [ ]:
df['lemmas'].head()

In [ ]:
def count(docs):

        word_counts = Counter()
        appears_in = Counter()
        
        total_docs = len(docs)

        for doc in docs:
            word_counts.update(doc)
            appears_in.update(set(doc))

        temp = zip(word_counts.keys(), word_counts.values())
        
        wc = pd.DataFrame(temp, columns = ['word', 'count'])

        wc['rank'] = wc['count'].rank(method='first', ascending=False)
        total = wc['count'].sum()

        wc['pct_total'] = wc['count'].apply(lambda x: x / total)
        
        wc = wc.sort_values(by='rank')
        wc['cul_pct_total'] = wc['pct_total'].cumsum()

        t2 = zip(appears_in.keys(), appears_in.values())
        ac = pd.DataFrame(t2, columns=['word', 'appears_in'])
        wc = ac.merge(wc, on='word')

        wc['appears_in_pct'] = wc['appears_in'].apply(lambda x: x / total_docs)
        
        return wc.sort_values(by='rank')

In [ ]:
# def tokenize(text):
#     tokens = []

#     for doc in tokenizer.pipe(text):

#         doc_tokens = []

#         for token in doc: 
#             if token.text not in STOP_WORDS:
#                 doc_tokens_text = re.sub(r'[^a-zA-Z ^0-9]', '', token.text)
#                 doc_tokens_text = doc_tokens_text.split()
# #                 doc_tokens.append(doc_tokens_text.lower())


#         tokens.append(doc_tokens)
#     return tokens

In [ ]:
# df['tokens'] = tokenize(df['amenities'])

In [ ]:
# df['tokens']

In [ ]:
# wc = count(df['tokens'])
wc = count(df['lemmas'])

In [ ]:
wc_top20 = wc[wc['rank'] <= 20]

In [ ]:
wc_top20['word'].sort_values(ascending=True)

In [ ]:
%%time
squarify.plot(sizes=wc_top20['pct_total'], label=wc_top20['word'], alpha=.8)
plt.axis('off')
plt.show()

# KERAS NEURAL NETWORK PORTION

In [ ]:
# pip install tensorflow

In [ ]:
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense

# np.random.seed(812)

In [ ]:
# model = Sequential()
# model.add(Dense(1, input_dim=9, activation='relu', name="Dense1"))
# model.add(Dense(3, activation='relu', name = 'Dense2'))
# model.add(Dense(1, activation='relu'))
# model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# model.fit(X_train,y_train, epochs=5)

In [ ]:
# model.summary()